.right-side {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
}

.right-side a {
    color: #222 !important;
}

.navbar,
.navbar .nav-link {
    color: #f2f2f2;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-link {
    margin-left: 3rem !important;
}

.collapse {
    margin-left: 3rem;
}

.navbar {
    background: linear-gradient(to right, #7C9695, #516868, #BECFCE);

}
.custom-toggle {
    background-color: #7C9695; /* Replace with your desired color */
  }
  
  .custom-toggle .navbar-toggler-icon {
    background-color: white; /* Replace with your desired color */
    width: 20px; /* Adjust the width as needed */
    height: 2px; /* Adjust the height as needed */
    display: block;
  }