 :root {
    --primary-color : #7C9695;
    --secondary-color :#BECFCE;
 }
 #form {
    background-color: #FFFFFF!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    flex-direction: column!important;
    padding: 0 50px!important;
    height: 100vh !important;
    background-origin: cover;
    /* background-clip: content-box; */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center!important;
}
form {
    height: 100vh;
}