.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10%;
    height: 100vh;


}

.randomForm {
    background-color: transparent !important;

}

#form {
    background-color: rgba(92, 92, 92, 0.479);
}

.select {
    max-width: 400px;
    padding: 5% 5%;
    font-size: 24px;
    text-align: center;
    color: #000000;
    background-color: #e4e4e4af;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid #9b00babd;
    animation: dropdownAnimation 1s infinite alternate;
}

.select option {
    border-radius: 5px !important;
    background-color: #ffffffa2 !important;
    color: rgb(0, 140, 255) !important;
    border: 3px solid purple !important;
}

.button-container {
    margin-top: 20px;
}

 

.button:hover {
    background-color: #2577b5d6;
    animation: buttonHoverAnimation 1s infinite;
    box-shadow: 0 0 1px  #3f6e91 ;
}

@keyframes buttonHoverAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 20px 8px #526D82;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 2px #526D82 !important;
    }

    50% {
        box-shadow: 0 0 7px #526D82 !important;
    }

    100% {
        box-shadow: 0 0 2px #526D82 !important;
    }
}

.btn-generate {
    border-radius: 20px !important;
    background-color: #3e7baa !important;
    border: 1px solid blueviolet !important;
    color: #FFFFFF !important;
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 12px 45px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    transition: transform 80ms ease-in !important;
}