
.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    height: 100vh;

    
}
.randomForm{
    background-color: transparent !important;

}
#form {
     background-color: rgb(154, 165, 177);
}
.select {
    max-width: 400px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: #f2f2f2;
    background-color:  #526D82;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
    border: 1px solid #ccc;
    animation: dropdownAnimation 1s infinite alternate;
}

.button-container {
    margin-top: 20px;
}

.button {
    padding: 10px 40px;
    width: 100%;
    font-size: 20px;
    background-color:  #526D82;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    animation: buttonAnimation 0.5s infinite;
}

.button:hover {
    background-color:  #526D82;
    animation: buttonHoverAnimation 1s infinite;
    box-shadow: 0 0 10px 3px #526D82;
}

@keyframes buttonHoverAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 20px 8px #526D82;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #526D82;
    }

    50% {
        box-shadow: 0 0 20px #526D82;
    }

    100% {
        box-shadow: 0 0 5px #526D82;
    }
}

.btn-generate{
    border-radius: 20px !important;
	background-color: #526D82 !important;
	color: #FFFFFF !important;
	font-size: 12px !important;
	font-weight: bold !important;
	padding: 12px 45px !important;
	letter-spacing: 1px !important;
	text-transform: uppercase !important;
	transition: transform 80ms ease-in !important;
}
/* .custom-select {
    position: relative;
    display: inline-block;
    width: 400px !important;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #f1f1f1;
    border: none;
  }
  
  .custom-select select {
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    outline: none;
  }
  
  .custom-select select:focus {
    box-shadow: 0 0 3px #2196F3;
  }
  
  .custom-select::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #555;
  } */